

#container {
    display: flex;
    
}


.newContainer {
    display: inherit;
}

.rows {
    border: 1px solid rgb(184, 183, 183);

}

.rowBox {
    width: 8px;
    height: 8px;
    border: 1px solid rgb(184, 183, 183);
}